
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container{
    width: 1440px;
}

.flexbox{
    margin: 20px auto;
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.flex-item{
    padding: 50px;
    /* min-height: 430px; */
}

.content h1,img,p{
    margin: 15px;
}

.item1{
    background-color: hsl(31, 77%, 52%);
}
    .item1 .btn{
        color: hsl(31, 77%, 52%);
    }

.item2{
    background-color: hsl(184, 100%, 22%);
}
    .item2 .btn{
        color: hsl(184, 100%, 22%);;
    }

.item3{
    background-color: hsl(179, 100%, 13%);
}
    .item3 .btn{
        color: hsl(179, 100%, 13%);
    }

p{
    color: hsla(0, 0%, 100%, 0.75);
}

h1{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
}

.btn{
    margin: 60px 0 0 0;
    height:60px;
    border: none;
    background-color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 70%;
    border-radius: 30px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .item1 .btn:hover{
        background-color: transparent;
        color: white;
        border: 1px solid white;
    }


    /* Grid layout */

    .box1{
        grid-area: box1;
        background-color: red;
        padding: 20px 0;
    }

    .box2{
        grid-area: box2;
        background-color: orange;
        padding: 20px 0;
    }
    .box3{
        grid-area: box3;
        background-color: blue;
        padding: 20px 0;
    }

    .box4{
        grid-area: box4;
        background-color: rgb(0, 255, 34);
        padding: 20px 0;
    }

    .box5{
        grid-area: box5;
        background-color: purple;
        padding: 20px 0;
    }

    .grid-container{
        display: grid;
        grid-template-areas: 'box1 box1 box1 box1 box2 box2'
                             'box1 box1 box1 box1 box2 box2'
                             'box3 box3 box3 box4 box4 box4'
                             'box3 box3 box3 box5 box5 box5';
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.445);
        padding: 20px;
        width: 1000px;
        height: 500px;
        margin: 0 auto;
    }

    .link-task{
        background-color:hsl(154, 59%, 51%);
        color: white;
        padding: 12px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    
